@import url("https://fonts.googleapis.com/css2?family=Alegreya&display=swap");

* {
  background-color: #252a2b;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  box-shadow: inset 0 0 5px grey;
}
::-webkit-scrollbar-thumb {
  width: 5px;
  background-color: rgb(225, 7, 18);
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgb(224, 33, 42);
}
.search-box {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.search-box input {
  width: 400px;
  height: 35px;
  font-size: 18px;
  font-family: "Alegreya", serif;
  background-color: rgba(0, 0, 0, 0.2);
  border: none;
  outline: none;
  color:whitesmoke;
}
.search-box input:focus{
  border: 0.4px solid #983131;
  color: whitesmoke;
  padding-left: 5px;
}

input::-webkit-input-placeholder{
  color: rgb(224, 33, 42);
  opacity: 0.9;
  padding-left: 5px;
}
.search-box button{
  color: whitesmoke;
  background-color: transparent;
  border: none;
  margin-left: -30px;
  cursor: pointer;
}
.search-box button i{
  background-color: transparent;
  color: rgb(224, 33, 42);
}
@media only screen and (max-width: 900px) {
  .search-box input {
    width: 100%;
  }
  .search-box {
    justify-content: end;
    margin-right: 5%;
    margin-left: 5%;
  }
  .search-box button{
    margin-left: -10%;
  } 
}
.search-results-disp {
  margin-top: 3em;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.card {
  width: 350px;
  height: 230px;
  margin: 10px;
  display: flex;
  border: 2px solid rgb(231, 170, 170);
  position: relative;
  overflow: auto;
}
p {
  height: fit-content;
  margin: 0 0 0 0;
}
.container {
  width: 150px;
  height: 230px;
  cursor: pointer;
}
.card .card-child img {
  width: 150px;
  height: 230px;
  transition: 0.5s ease;
}
.card .card-child {
  display: inline-block;
}
.card .card-child p {
  margin-left: 5px;
  font-size: 14px;
  color: whitesmoke;
  font-family: "Alegreya", serif;
}
.card .card-child .title {
  font-size: 18px;
  margin-top: 10px;
}
.card .add-to-watchlist {
  width: 130px;
  padding: 5px;
  color: whitesmoke;
  background-color: rgb(225, 7, 18);
  font-size: 12px;
  cursor: pointer;
  border: 1px solid black;
  position: absolute;
  top: 185px;
  left: 210px;
}
.card .add-to-watchlist i {
  color: black;
  background-color: rgb(225, 7, 18);
}
.card .add-to-watchlist:hover {
  background-color: rgb(224, 33, 42);
}
.err {
  color: whitesmoke;
  font-size: 24px;
}
.err span {
  color: rgb(219, 11, 21);
}
.imdb-rating {
  position: absolute;
  top: 190px;
  left: 150px;
}
.imdb-rating i {
  color: rgb(245, 197, 24);
}
.imdb-rating span {
  opacity: 0.8;
}
.release-year-and-runtime {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
}
.release-year-and-runtime p,
i {
  opacity: 0.8;
}
.release-year-and-runtime i {
  color: whitesmoke;
  font-size: 4px;
}
.plot {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px;
  width: 140px;
  height: 220px;
  opacity: 0;
  overflow: auto;
  transition: 0.5s ease;
  text-align: center;
}
.container:hover .plot {
  opacity: 0.8;
}
.container:hover img {
  opacity: 0.6;
}
.card .language {
  color: whitesmoke;
  margin-left: 5px;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 10px;
  opacity: 0.9;
  font-style: italic;
  max-height: 16px;
  overflow: hidden;
  cursor: pointer;
  transition: height 2s;
}
.card .language:hover {
  max-height: none;
}
.genre,
.actors {
  color: whitesmoke;
  font-size: 14px;
  margin-left: 5px;
  opacity: 0.95;
}
.card-contents {
  height: 175px;
  overflow: auto;
}
.actors {
  margin-top: 10px;
  opacity: 0.9;
}
.actors span {
  font-size: 16px;
  opacity: 1;
}
.search-results-heading {
  color: whitesmoke;
  font-size: 28px;
  text-align: center;
  margin-top: 50px;
  text-transform: lowercase;
}
.search-results-heading span {
  color: rgb(219, 11, 21);
  font-weight: bold;
}
.loader {
  margin-top: 50px;
  text-align: center;
}
a {
  text-decoration: none;
  color: whitesmoke;
  cursor: pointer;
}
.my-watchlist-icon {
  margin-right: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
}
@media screen and (max-width: 900px) {
  .my-watchlist-icon {
    margin-left: 5%;
    justify-content: left;
  }
}
.my-watchlist-icon p {
  font-size: 20px;
  width: fit-content;
  color: white;
  font-family: "Alegreya", serif;
  background-color: rgb(219, 11, 21);
  padding: 5px;
  border: 1px solid black;
  cursor: pointer;
}
.my-watchlist-icon i {
  color: black;
  background-color: rgb(225, 7, 18);
}
.my-watchlist-icon sup {
  color: whitesmoke;
  background-color: rgb(225, 7, 18);
}
.chilling {
  display: flex;
  justify-content: center;
  align-items: center;
}
.chilling img {
  overflow: auto;
}
@media only screen and (min-width:900px) {
    .chilling img{
      height:400px;
    }
}
.link {
  background-color: rgb(225, 7, 18);
}
.homepage-icon {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.homepage-icon button {
  background-color: rgb(225, 7, 18);
  padding: 5px 10px 5px 10px;
  border: 1px solid black;
  color: whitesmoke;
  font-size: 18px;
  font-family: "Alegreya", serif;
  cursor: pointer;
}
.homepage-icon button:hover {
  background-color: rgb(219, 11, 21);
}
.homepage-icon i {
  background-color: rgb(225, 7, 18);
}
.class2 {
  font-size: 16px;
}
.class3 {
  font-size: 14px;
}
select,
option {
  width: fit-content;
  height: 38px;
  font-size: 18px;
  font-family: "Alegreya", serif;
  background-color: black;
  border: 1px solid whitesmoke;
  color: whitesmoke;
}
.torrent-links {
  padding: 5px;
}
.torrent-links .torrent-header {
  color: green;
  font-weight: bold;
  font-size: 1.1em;
}
.torrent-links .torrent-unavailable {
  color: red;
}
.torrent-links .torrent-card {
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  background-color: rgb(225, 7, 18);
  font-family: "Alegreya", serif;
  margin: 5px;
}
.torrent-links .torrent-card-links {
  display: flex;
  flex-wrap: wrap;
}
.torrent-links .torrent-card-links span {
  background-color: rgb(225, 7, 18);
}
.torrent-links .torrent-card-links i {
  background-color: rgb(225, 7, 18);
}
.torrent-card-links .torrent-size {
  font-size: 0.8em;
  opacity: 0.8;
}
.torrent-links .torrent-card-links .torrent-card:hover {
  cursor: pointer;
  transform: translateY(-2px);
  transition: 0.3s ease-in-out;
}
.card .card-child .container i{
  color: green;
  background-color: transparent;
  position: absolute;
  margin-left: -140px;
  font-size: 32px;
  opacity: 1;
  margin-top: -2px;
}